/* .container > div {
    float: left;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: lightblue;
}
.container > div:last-child {
    clear: both;
} */
.container {
    height: 500px;
    border: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;   
  justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: lightblue;
}
#box1 { flex-grow: 0.9; }
#box2 { flex-shrink: 0.9; }
