/* .container > div {
    float: left;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: lightblue;
}
.container > div:last-child {
    clear: both;
} */
.container {
    height: 500px;
    border: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;   
  justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: lightblue;
}
#box1 { flex-grow: 0.9; }
#box2 { flex-shrink: 0.9; }

.grid {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  border: 1px solid gray;
  padding: 10px;
  margin-top: 20px;
}
.gbox {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  background-color: lightgreen;
}
body{
  background-color: lightblue;
}
@media(max-width:600px){
  body{
    background-color: lightcoral;
  }
}
@media(max-width:1024px){
  body{
    background-color: lightgreen;
  }
}
