body{
    background-color: #be0eb9;
    background:linear-gradient(to right,#8019ca ,#aa27a6 ) ;
}
h1{
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-size: 80px;
}
.clock{
    text-align: center;
    font-size: 10rem;
    position:absolute ;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
#time{

    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: black;

}
/* media less the 800px*/
@media (max-width: 800px) {
    .clock {
        font-size: 35px;
        padding: 20px 20px;
    }
}